[Unit]
Description=Route systemd-journal logs to filters and actions (ban, report…)

[Service]
User=_pyruse
Group=_pyruse
ExecStart=/usr/bin/pyruse
WorkingDirectory=/etc/pyruse
StateDirectory=pyruse
NoNewPrivileges=true
PrivateDevices=true
PrivateTmp=true
ProtectHome=true
ProtectSystem=full
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true
Restart=on-failure

[Install]
WantedBy=multi-user.target
