[Unit]
Description=Initialization of pyruse module %I

[Service]
Type=oneshot
ExecStart=/usr/bin/pyruse-boot "%I"
WorkingDirectory=/etc/pyruse
CapabilityBoundingSet=CAP_SYS_CHROOT
NoNewPrivileges=true
PrivateDevices=yes
PrivateTmp=yes
ProtectHome=yes
ProtectSystem=full
ReadWriteDirectories=/var/lib/pyruse

[Install]
WantedBy=multi-user.target
WantedBy=pyruse.service
